section.container.features
    .row.text-center
        .col-sm-3
            img.img-circle.img-responsive( src="/assets/img/children-learning-languages.jpg")
            h2
                |BOARDING
            p
                | We are dedicated to providing the highest quality and effective boarding available.
            //p
                a.btn.btn-default( href="/about-us" role="button")
                    |READ MORE &raquo;
        .col-sm-3
            img.img-circle.img-responsive( src="/assets/img/what-we-do.jpg")
            h2
                | RIDING
            p
                | We work with families to ensure that riders are meeting developmental milestones.
            //p
                a.btn.btn-default( href="/our-services" role="button")
                    | READ MORE &raquo;
        .col-sm-3
            img.img-circle.img-responsive( src="/assets/img/what-to-expect.jpg")
            h2
                | TRAINING
            p
                | You can expect a fun atmosphere in our enrichment programs where everyone loves to learn.
            //p
                a.btn.btn-default( href="/our-services" role="button")
                    | READ MORE &raquo;
        .col-sm-3
            img.img-circle.img-responsive( src="/assets/img/events.jpg")
            h2
                | EVENTS
            p
                | Stop by to visit and see our ongoing events or follow us on social media.
            //p
                a.btn.btn-default( href="/our-services" role="button")
                    | READ MORE &raquo;