section.about(style="background-image: url('/assets/img/about-us.jpg'); background-size: cover;")
    .col-xs-12
        .container
            p
                |Almond Tree Stables is a premier stable for boarding horses in Chico, California.
                | Our calm, quiet atmosphere and beautiful horses are natures best stress-busters!
                | With us, horses are number one, and that is obvious everywhere from the beautiful facility to the attentive care and
                | meeting the needs of independent riders.