footer.footer
    .wrap
        .container
            .row
                .col-md-5.col-sm-12.col-xs-12
                    .headline.withH2
                        h2
                            |Almond Tree Stables
                    a.hidden( href="index.html")
                        img.footer-logo( id="logo-footer" src="" style="margin:17px 0 20px")
                    p
                        |At Almond Tree Stables Center we are a full service equestrian facility. Offering top of the line care, with indoor and outdoor riding arenas, and a serene setting to help you get to the next level with your horse. We welcome all disciplines and levels of riders to see what we are all about.
                    p.text-center
                        a( href="https://www.facebook.com/Almond-Tree-Stables-122638877794017/" target="_blank")
                            |facebook.com/Almond-Tree-Stables-122638877794017/
                .col-md-3.col-md-offset-1.col-sm-6.col-sml-6.col-xs-12
                    //.headline.withH2
                        h2
                            |Useful Links
                //    ul.list-unstyled.link-list
                        each link in site.navigation
                            li

                        li
                            a(href="/privacy-policy") Privacy Policy
                        li
                            a(href="/terms-of-service") Terms of Service
                .col-md-3.col-sm-6.col-sml-6.col-xs-12.map-bg
                    .headline.withH2
                        h2
                            |Contact Us
                    address.md-margin-bottom-40
                        a(href="https://www.google.com/maps/place/3538+Elk+Ave,+Chico,+CA+95928/@39.7071728,-121.8495408,13.55z/data=!4m2!3m1!1s0x80832687200331ed:0x2d1db798cdcaaae8")
                            i.fa.fa-map-marker
                            |&nbsp;3538 Elk Ave. Chico, CA
                        br
                        a(href="tel:+15308997909")
                            i.fa.fa-phone
                            |&nbsp;(530) - 899 - 7909
                        br
                        a(href="mailto:maisie@maisiejanes.com?cc=isidro@maisiejanes.com")
                            i.fa.fa-envelope
                            |&nbsp;Email Us
    .copyright( style="padding: 10px 0 5px; background:#222222;")
        .container
            .row
                .col-md-12.text-center
                    p
                        |Copyright © 2014-2016 All Rights Reserved.
